{% extends 'main_courses.html' %}
{% load static %}
{% block content %}
<div class="container-fluid pb-2" style="background-color: #F5FFFA; text-align: center;">
    <div class="container">
        <div class="row">
            <div class="col align-self-center">
                <h2 class="pt-2" style="text-transform: capitalize; color: #663399; text-align:center;"> choose region
                </h2>
                <div class="album">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4 pt-1">
                                <div class="card mb-4 box-shadow">
                                    <img class="card-img-top image-fluid rounded-top rounded-bottom"
                                        src="{% static 'u&l.jpg' %}" alt="Card image cap" height="300" width="500">
                                    <div class="card-body" style="background-color: #F5FFFA;">
                                        <a class="btn btn-outline-dark btn-sm" href="{% url 'limb' %}"
                                            style="text-align: center; text-transform: capitalize;">study</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pt-1">
                                <div class="card mb-4 box-shadow">
                                    <img class="card-img-top image-fluid rounded-top rounded-bottom"
                                        src="{% static 't&a.jpg' %}" alt="Card image cap" height="300" width="500">
                                    <div class="card-body" style="background-color: #F5FFFA;">
                                        <a class="btn btn-outline-dark btn-sm" href="{% url 'thoraxabdomen' %}"
                                            style="text-align: center; text-transform: capitalize;">study</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pt-1">
                                <div class="card mb-4 box-shadow">
                                    <img class="card-img-top image-fluid rounded-top rounded-bottom"
                                        src="{% static 'p&p.jpg' %}" alt="Card image cap" height="300" width="500">
                                    <div class="card-body" style="background-color: #F5FFFA;">
                                        <a class="btn btn-outline-dark btn-sm" href="{% url 'pelvisperineum' %}"
                                            style="text-align: center; text-transform: capitalize;">study</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pt-1">
                                <div class="card mb-4 box-shadow">
                                    <img class="card-img-top image-fluid rounded-top rounded-bottom" src="{% static 'h&n.jpg' %}"
                                        alt="Card image cap" height="300" width="500">
                                    <div class="card-body" style="background-color: #F5FFFA;">
                                        <a class="btn btn-outline-dark btn-sm" href="{% url 'headneck' %}"
                                            style="text-align: center; text-transform: capitalize;">study</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pt-1">
                                <div class="card mb-4 box-shadow">
                                    <img class="card-img-top image-fluid rounded-top rounded-bottom" src="{% static 'neuroanatomy.jpg' %}"
                                        alt="Card image cap" height="300" width="500">
                                    <div class="card-body" style="background-color: #F5FFFA;">
                                        <a class="btn btn-outline-dark btn-sm" href="{% url 'neuroanatomy' %}"
                                            style="text-align: center; text-transform: capitalize;">study</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p><a class="btn btn-outline-dark btn-sm" href="{% url 'home' %}" style="text-align: center; text-transform: uppercase;"> back "2" homepage
    </a>
    </p>
</div>
{% endblock %}