{% extends 'main_courses.html' %}
{% load static %}
{% block content %}
<div class="album pt-2" style="background-color: white;text-align: justify;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 style="text-transform: capitalize; text-align: center; font-size:20px; color: #663399;">{{ headneck.title }}</h4>
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top image-fluid pb-3" src="{{ headneck.image.url }}" alt="Card image cap"
                        height=300 width=400>
                    <div class="card-body">
                        <p class="card-text" style="text-align: justify; font-size: 15px;">{{ headneck.body }}</p>
                        <hr>
                        <p class="card-text" style="text-align: center; font-size: 15px;">Study questions</p>
                        <hr>
                        <p class="card-text" style="text-align: justify; font-size: 15px;">{{ headneck.question1
                            }}
                        </p>
                        <p class="card-text" style="text-align: justify; font-size: 15px;">{{ headneck.question2
                            }}
                        </p>
                        <p class="card-text" style="text-align: justify; font-size: 15px;">{{ headneck.question3
                            }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-3 pb-3" style="background-color: white; text-align: center;">
    <p><a class="btn btn-sm btn-outline-dark" href="{% url 'headneck' %}" style="font-size: 12px;">Go
            Back</a>
        &nbsp;
        <a class="btn btn-sm btn-outline-dark" href="#" style="font-size: 12px;">Back "2" top</a>
    </p>
</div>
{% endblock %}